body {
  background-image: url("https://getwallpapers.com/wallpaper/full/8/1/1/419151.jpg");
  background-size: cover;
  font-family: "Monoton";
}

h1 {
  color: black;
  font-size: 30px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 23px;
  margin: 0 0 5px;
}
h3 {
  right: 6000px;
  top: 30px;
}
.select {
  font-size: 14px;
  border-radius: 4px;
  padding: 1px;
}
.container {
  background: #ffefe5;
  display: block;
  max-width: 250px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 250px;
  position: relative;
  right: 280px;
  top: 30px;
}

.city {
  display: flex;
  margin: -4.5px 0;
  justify-content: space-between;
  padding: 2px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
  margin: -7px 0;
  font-size: 12px;
}

.time {
  font-size: 22px;
  font-weight: bold;
}

.neon {
  font-family: "Monoton", cursive;
  font-size: 37px;
  color: #e982d1;
  position: absolute;
  top: 40%;
  left: 260%;
  transform: translate(-50%, -50%);
  letter-spacing: 8px;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}
@keyframes flicker {
  63%,
  63.999% {
    opacity: 0.6;
  }
}

.time small {
  font-size: 12px;
  vertical-align: middle;
  line-height: 48px;
}
footer {
  font-size: 15px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  top: 340px;
  right: 540px;
  color: #ffefe5;
}
