body {
  background-image: url("https://getwallpapers.com/wallpaper/full/8/1/1/419151.jpg");
  background-size: cover;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: black;
  font-size: 20px;
  text-align: center;
}

h2 {
  color: grey;
  font-size: 23px;
  margin: 0 0 5px;
}

.select {
  display: block;

  font-size: 14px;
  border-radius: 4px;
  padding: 5px;
}
.container {
  background: #fe95df;
  display: block;
  background: pink;
  max-width: 500px;
  margin: 10px auto;
  padding: 20px;
  border-radius: 25px;
  position: relative;
  right: 250px;
  top: 40px;
}

.city {
  display: flex;
  margin: 2px 0;
  justify-content: space-between;
  padding: 7px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 30px;
  font-weight: bold;
}

.time small {
  font-size: 12px;
  vertical-align: middle;
  line-height: 48px;
}

footer {
  text-align: center;
  font-size: 18px;
  color: whitesmoke;
}
