body {
  background-image: url("https://getwallpapers.com/wallpaper/full/8/1/1/419151.jpg");
  background-size: cover;
  font-family: "Monoton";
}

h1 {
  color: black;
  font-size: 30px;
  text-align: center;
  margin: -1px 0;
}

h2 {
  color: black;
  font-size: 23px;
  margin: 0 0 5px;
}
h3 {
  right: 6000px;
  top: 30px;
}
.select {
  font-size: 14px;
  border-radius: 4px;
  padding: 1px;
}
.ears {
  display: flex;
  background: #ffefe5;
  margin: 10px auto;
  padding: 20px;
  border-radius: 50%;
  position: relative;
  bottom: 328px;
  width: 60px;
  height: 50px;
  right: 9%;
}

.leftears {
  display: flex;
  background: #ffefe5;
  margin: 10px auto;
  padding: 20px;
  border-radius: 50%;
  position: relative;
  right: 410px;
  bottom: 430px;
  width: 60px;
  height: 50px;
  right: 35%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffefe5;
  margin: 10px auto;
  padding: 20px;
  border-radius: 50%;
  position: relative;
  right: 280px;
  top: 17px;
  width: 260px;
  height: 250px;
  font-family: "Monoton";
}

.city {
  display: flex;
  margin: -4.5px 0;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
  margin: -2.5px 0;
  font-size: 14px;
}

.time {
  font-size: 22px;
  font-weight: bold;
  margin: -4.5px 0;
  position: relative;
  right: -25.5px;
}

.neon {
  font-family: "Monoton", cursive;
  font-size: 37px;
  color: #e982d1;
  position: absolute;
  top: 40%;
  left: 260%;
  transform: translate(-50%, -50%);
  letter-spacing: 8px;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}
@keyframes flicker {
  63%,
  63.999% {
    opacity: 0.6;
  }
}

.time small {
  font-size: 11px;
  vertical-align: middle;
  line-height: 48px;
}
footer {
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 340px;
  right: 510px;
  color: white;
  font-family: "Monoton";
}

a {
  color: black;
}
